version: '3'
services:
  app:
    container_name: ${PROJECT_NAME}-app
    image: webdevops/php-nginx-dev:7.4
    working_dir: /var/www/app
    volumes:
      - ./:/var/www/app
    environment:
      - WEB_DOCUMENT_ROOT=/var/www/app/public
      - WEB_DOCUMENT_INDEX=index.php
      - PHP_MAX_EXECUTION_TIME=86400
      - PHP_DEBUGGER=xdebug
      - XDEBUG_CLIENT_PORT=${XDEBUG_CLIENT_PORT}
      - XDEBUG_REMOTE_PORT=${XDEBUG_REMOTE_PORT}
      - XDEBUG_REMOTE_AUTOSTART=1
      - XDEBUG_REMOTE_CONNECT_BACK=0
      - XDEBUG_REMOTE_HOST=host.docker.internal
      - XDEBUG_IDE_KEY=PHPSTORM
      - XDEBUG_MAX_NESTING_LEVEL=1500
    ports:
      - '${DOCKER_APP_PORT}:80'
    networks:
      - clear-arch-pokemon-network

  mysql:
    image: mysql:5.7
    container_name: ${PROJECT_NAME}-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "${DOCKER_MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    networks:
      - clear-arch-pokemon-network
    volumes:
      - ./.docker/mysql:/var/lib/mysql

  redis:
    container_name: ${PROJECT_NAME}-redis
    command: redis-server --appendonly yes --requirepass "${REDIS_PASSWORD}"
    image: redis:4.0-alpine
    ports:
      - "${DOCKER_REDIS_PORT}:6379"
    networks:
      - clear-arch-pokemon-network
    volumes:
      - ./.docker/redis:/data

networks:
  clear-arch-pokemon-network:
    driver: bridge